@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @apply bg-gray-900;
    background-size: 80px 80px;
    background-image:
      linear-gradient(to right, rgb(160, 137, 9) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(160, 137, 9) 1px, transparent 1px);
}

